!!! 5
html(ng-app="fileground")
	head
		title FileGround

		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		link(rel="shortcut icon", href="/images/favicon.ico")

		link(href="/bower_components/bootstrap/dist/css/bootstrap.css", rel="stylesheet", type="text/css")
		link(href="/bower_components/font-awesome/css/font-awesome.css", rel="stylesheet", type="text/css")

		link(href="/styles/app.css", rel="stylesheet", type="text/css")

	body
		div(ng-controller="ExampleSingleCtrl")
			form.form-inline
				.form-group
					input.form-control#profile-image(type="file")
				.form-group
					a.btn.btn-primary(href, ng-click="upload()") Upload

			span <br />
			img.img-thumbnail(src="{{url}}", title="{{url}}", ng-show="url")

		script(src="/bower_components/angular/angular.js")
		script(src="/bower_components/angular-ui-router/release/angular-ui-router.js")
		script(src="/bower_components/jquery/jquery.js")
		script(src="/bower_components/bootstrap/dist/js/bootstrap.js")

		script(src="#{serv}/v0/fileground.js")

		script.
			SERV = '#{serv}'

		script(src="/scripts/app.js")
